
    <h1 style="padding-top: 50px;">TFS Report</h1>
    <p>Generate all fancy reports for Anthony with button clicks.</p>  

    <ngb-tabset type="pills">
        <ngb-tab title="Test Cases report">
          <ng-template ngbTabContent>
            <form #testCaseForm = "ngForm"class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="Test Plan ID"
                    name="testPlanId">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="date" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"><i class="far fa-calendar-alt"></i></button>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" type="button">
                        <i class="fa fa-floppy-o"></i>Submit</button>
                    </div>
                  </div>
                </div>
              </form>
              <hr/> 
              <ngb-alert class="mt-3 mb-0" type="info" [dismissible]="true">
                You must provide the icon for the button. This allows you
                to choose an icon that matches your application's style.
                In this example, the icon is set via a CSS class.
              </ngb-alert>
            <ag-grid-angular
                style="width: auto; height: 500px;"
                class="ag-theme-alpine"
                [enableSorting] = "true"
                [rowData]= "testCaseData"
                [columnDefs]="testCaseDataGridHeader"
                [paginationPageSize]="25"
                [pagination]="true">
            </ag-grid-angular>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Story</ng-template>
          <ng-template ngbTabContent>
            <p></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab >
            <ng-template ngbTabTitle>Sprint Items</ng-template>
           <ng-template ngbTabContent>
            <p></p>
          </ng-template>
          
        </ngb-tab>
      </ngb-tabset>

  

  
